@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Square+Peg&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

/* .cardmedia{
    width: 100%;
    height: auto;
    line-height: normal;
} */